import java.sql.ResultSet;
import java.sql.SQLException;
import org.javautil.bshjdbc.Cursor;

void go() {
	dexterous.go();
}

private void useCursor(Cursor c) {
	dexterous.setSqlText(c.getSqlText());
}

void spool(String fileName) {
	dexterous.spool(fileName);
}
